@keyframes newItem {
  from { 
    opacity: 0;
    transform: translate(100px, -10px) rotateY(-70deg);
  }
  to   { 
    opacity: 1; 
    transform: none;
  }
}

@keyframes oppPlay {
  from { 
    opacity: 0;
    transform: scale(1) translate(100px, -825px);
  }
  40% {
    opacity: 1;
    transform: scale(3) translate(100px, -200px);
  }
  60% {
    transform: scale(3) translate(100px, -200px);
  }
  to   { 
    opacity: 1; 
    transform: none;
  }
}

@keyframes exileAnim {
  from { 
    box-shadow: inset 0px 0px 110px 1px rgb(255 0 0 / 50%);
  }
  to   { 
    box-shadow: inset 0px 0px 110px 1px rgb(255 0 0 / 30%);
  }
}
@keyframes discardAnim {
  from { 
    box-shadow: inset 0px 0px 110px 1px rgb(100 100 100 / 100%);
  }
  to   { 
    box-shadow: inset 0px 0px 110px 1px rgb(100 100 100 / 80%);
  }
}



.card.supply .card-wrap {
    animation: 1s newItem;
}
.opp-camp .card.play.just-played .card-wrap {
    animation: 3s oppPlay;
}

.card, .card-wrap {
    width: 341px;
    height: 477px;
    border-radius: 35px;
    position: absolute;
    transform-origin: top left;
    transition: transform .5s, left 1s, top .5s, opacity .2s;
    -webkit-transform-style: preserve-3d;
}

.card.blueSelection .front {
    border: solid 11px #3085d6;
}

.card .card-flip-wrap {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: center;
}
.card .card-rotate-wrap {
    transform-origin: center;
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

.card.selected {
    opacity: 0.8;
}
.card.active .card.front {
    box-shadow: inset 0px 0px 110px 1px rgb(20 50 200);
}

.card-flip-wrap.flipped {
    transform: rotateY(180deg);
}

.card.card-outer {
    transition: transform .5s, left 1s, top .5s;
    filter: drop-shadow(2px 4px 6px black);
}

.card.blank {
    background: magenta;
}

.card.front, .card.back {
    /*backface-visibility: hidden;*/
    -webkit-backface-visibility: hidden;
}

.card.back {
    transform: rotateY(180deg);
    transform-origin: center;
}

.card-wrap {
}

.card.front {
    z-index: 2;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.card-outer.hand:hover, .card-outer.supply:hover {
    cursor: pointer;
}

.card:not(.back):hover {
}

.card.exilable {
    cursor: pointer;
}

.card.exilable .card.front {
    animation: exileAnim 1s infinite alternate;
}
.card.discardable .card.front {
    animation: discardAnim 1s infinite alternate;
}

.card.exilable:hover .card.front {
    box-shadow: inset 0px 0px 110px 1px rgb(255 0 0);
    animation: none;
}

.card.hand.discardable:hover .card.front {
    /*box-shadow: inset 0px 0px 110px 1px rgb(255 255 0);*/
    filter: grayscale(80%);
    animation: none;
}


.card.back {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -0;
}

.card.art.art-6 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -0;
}

.card.art.art-7 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -0;
}

.card.art.art-8 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -477px;
}

.card.art.art-9 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -477px;
}

.card.art.art-11 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -477px;
}

.card.art.art-10 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -0;
}

.card.art.art-12 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -477px;
}

.card.art.art-13 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -0;
}

.card.art.art-14 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -477px;
}

.card.art.art-15 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -954px;
}

.card.art.art-16 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -954px;
}

.card.art.art-17 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -954px;
}

.card.art.art-18 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -954px;
}

.card.art.art-19 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -954px;
}

.card.art.art-20 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -0;
}

.card.art.art-21 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -477px;
}

.card.art.art-22 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -954px;
}

.card.art.art-24 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -1431px;
}

.card.art.art-23 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -1431px;
}

.card.art.art-25 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -1431px;
}

.card.art.art-26 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -1431px;
}

.card.art.art-27 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -1431px;
}

.card.art.art-28 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -1431px;
}

.card.art.art-29 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -0;
}

.card.art.art-30 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -477px;
}

.card.art.art-32 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -954px;
}

.card.art.art-31 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -1431px;
}

.card.art.art-33 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -1908px;
}

.card.art.art-34 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -1908px;
}

.card.art.art-35 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -1908px;
}

.card.art.art-1 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -1908px;
}

.card.art.art-2 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -1908px;
}

.card.art.art-3 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -1908px;
}

.card.art.art-4 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -1908px;
}

.card.art.art-5 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -0;
}

.card.red.exploration.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -477px;
}

.card.red.exploration.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -954px;
}

.card.yellow.exploration.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -1431px;
}

.card.yellow.exploration.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -1908px;
}

.card.blue.exploration.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -0;
}

.card.blue.exploration.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -477px;
}

.card.green.exploration.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -954px;
}

.card.green.exploration.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -1431px;
}

.card.green.funding.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -1908px;
}

.card.red.funding.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -2386px;
}

.card.red.funding.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -2386px;
}

.card.yellow.funding.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -2386px;
}

.card.yellow.funding.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -2386px;
}

.card.blue.funding.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -2386px;
}

.card.blue.funding.ship {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -2386px;
}

.card.green.funding.car {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -2386px;
}

.card.fear {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -2386px;
}

.card.item.item-2 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -2386px;
}

.card.item.item-3 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -0;
}

.card.item.item-4 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -477px;
}

.card.item.item-5 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -954px;
}

.card.item.item-6 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -1431px;
}

.card.item.item-7 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -1908px;
}

.card.item.item-8 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -2386px;
}

.card.item.item-9 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -2863px;
}

.card.item.item-10 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -2863px;
}

.card.item.item-11 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -2863px;
}

.card.item.item-12 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -2863px;
}

.card.item.item-13 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -2863px;
}

.card.item.item-14 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -2863px;
}

.card.item.item-15 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -2863px;
}

.card.item.item-16 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -2863px;
}

.card.item.item-17 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -2863px;
}

.card.item.item-18 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3072px -2863px;
}

.card.item.item-19 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -0;
}

.card.item.item-20 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -477px;
}

.card.item.item-21 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -954px;
}

.card.item.item-22 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -1431px;
}

.card.item.item-23 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -1908px;
}

.card.item.item-24 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -2386px;
}

.card.item.item-25 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3413px -2863px;
}

.card.item.item-26 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -0;
}

.card.item.item-27 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -477px;
}

.card.item.item-28 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -954px;
}

.card.item.item-29 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -1431px;
}

.card.item.item-31 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -1908px;
}

.card.item.item-30 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -2386px;
}

.card.item.item-33 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -3754px -2863px;
}

.card.item.item-34 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -0 -3340px;
}

.card.item.item-36 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -341px -3340px;
}

.card.item.item-37 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -683px -3340px;
}

.card.item.item-32 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1024px -3340px;
}

.card.item.item-40 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1365px -3340px;
}

.card.item.item-35 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -1707px -3340px;
}

.card.item.item-1 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2048px -3340px;
}

.card.item.item-39 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2389px -3340px;
}

.card.item.item-38 {
    width: 341px; height: 477px;
    background: url('../img/card_new.jpg') -2730px -3340px;
}